WORD_TTS_PROTOCOL=https
TTS_API_BASE_URL=http://localhost:8000/v1/
# Docker: path to dev certs on the host (required when running compose with sudo)
# OFFICE_ADDIN_DEV_CERTS_HOST_DIR=/home/you/.office-addin-dev-certs
DEBUG=0
